/*CSS selectors*/
/*  universal selector */

* 
    {
        background-color : blanchedalmond;

    }

/* button
    {
        font-size: 30px;
        color : white;
       background-color: black;
    } */
    
h1,h2   
    {
        color : magenta;
    }

label
    {
        color: white;
    }    
    
/* ID selector : used in single elemets with unique id_name*/

/* #signup
    {
        background-color: palegreen ;
    }

#login
    {
        background-color: purple;
    } */
    
/* class selector : grouping same type elements by using same class_name     */
.credential
    {
        background-color: black; 
         color : honeydew;
    }

.text
    {
        color : salmon
    }
    
/* Descendant selector     */
 ul a    /*nested elemets */
    {
        background-color: blue;
        color : olive;
    }

/* Adjacent selector */

h2 + p
    {
        color : lightcoral
    }
 
div + button
        {
            color : black;
        }
        
/* Direct Child         */
 li > a
    {
        font-size: 20px;
    }

/* Attribute selector     */

input[type = "text"]   {color :indianred;}
button[id = "login"]   {color : white;}

/* Pseudo classes */
#signup button:hover
    {
        color : white;
        background-color: black;
    }

a:hover
    {
        color : blue;
        background-color: white;
    }
 
button:active   {background-color: blue;
                 color : white;    }
                 
/* :checked                 */
/* :nth-of-type() */

/* pseudo elements */
    /* ::first-letter 
        h2::first-letter{font-size:50px}*/
    /* ::first-line
        p::first-line{color:purple} */
    /* ::selection
        p::selection{back-ground:yellow} */

 /*cascade ?? order matters whatever comes after will be implemented */

 /* specificity ?? */
    /* ID > CLASS > ELEMENT */

    /*CSS inheritance : input and button do not inherit by default */
        /* button,input{color:inherit} */