h2
    {
        text-align : center;
        font-weight: normal;
        /* width: 50%; */
        text-decoration : orange underline wavy;
        font-size: 30px;
    }

 p
    {
        font-weight: normal;
        font-weight: 700;
        line-height: 2;
        letter-spacing: normal;
        /* font-family: Avant Garde, Futura, Arial ; */
        font-family: fantasy;
        /* text-decoration : overline;
        text-decoration : line-through; */
    }   

button 
    {
        background-color : black;
        color : white;
    }

    a
        {
            text-decoration: none;
        }

 /* colors represented in rgb 
    or
    Hexadecimal : 0-9 , A-F
    A = 10
    .
    .
    F = 15 */ 
    
/* CSS text properties
    text-allign, width
    font-weight, text-decoration
    line-height, letter-spacing
    font-size, font-family*/
